*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

gsdmm-index/result/20ngK50iterNum50alpha0.100beta0.100/20ngClusteringResult.txt

*.txt

gsdmm-index/result/20ngK20iterNum5alpha0.100beta0.100/20ngClusteringResult.txt

*.txt

gsdmm-index/result/20ngK20iterNum10alpha0.100beta0.100/20ngClusteringResult.txt

gsdmm-index/result/20ngK20iterNum10alpha0.100beta0.100/20ngClusteringResult.txt

gsdmm-index/result/20ngK20iterNum10alpha0.100beta0.100/20ngClusteringResult.txt

*.xml

*.txt

*.txt

*.txt

*.txt

Gsdmm_Parallel/data/ohsumed

Gsdmm_Parallel/data/bbc

Gsdmm_Parallel/data/Question_Answer

Gsdmm_Parallel/data/question_data

Gsdmm_Parallel/data/Reuters21578

Gsdmm_Parallel/data/S

Gsdmm_Parallel/data/T

Gsdmm_Parallel/data/TS

Gsdmm_Parallel/data/Tweet

gsdmm-index/data/bbc

gsdmm-index/data/ohsumed

gsdmm-index/data/Question_Answer

gsdmm-index/data/question_data

gsdmm-index/data/Reuters21578

*.txt
